version: 2.1
orbs:
  tech-docs: ktech/tech-docs@1
  bandstand: ktech/bandstand@3

main_branch_only: &main_branch_only
  branches:
    only:
      - /^main$/

workflows:
  version: 2
  main:
    jobs:
      - tech-docs/publish-docs:
          name: publish-docs-backstage-test
          env: test
          context:
            - aws-base
            - bandstand-test
      - tech-docs/publish-docs:
          name: publish-docs-backstage-prod
          env: prod
          filters: *main_branch_only
          context:
            - aws-base
            - bandstand-prod
      - bandstand/install-chart:
          matrix:
            parameters:
              chart:
                - test-charts/web-service/defaults
                - test-charts/web-service/az-balancing
                - test-charts/web-service/envvars
                - test-charts/web-service/advanced-scaling
                - test-charts/web-service/image-override
                - test-charts/web-service/pre-stop-wait
                - test-charts/web-service/node-selector
                - test-charts/web-service/resources
                - test-charts/web-service/resource-limits
                - test-charts/web-service/secrets
                - test-charts/web-service/startup-probe-time
                - test-charts/web-service/with-additional-domains
                - test-charts/web-service/with-config-files
                - test-charts/web-service/with-test-service-acct
                - test-charts/web-service/with-test-service-ephem
                - test-charts/web-service/with-external-config-map
                - test-charts/web-service/with-ephemeral-volume
                - test-charts/web-service/with-persistent-volume
                - test-charts/web-service/with-s3-volume
                - test-charts/web-service/reloader
                - test-charts/web-service/with-authentication-backend
                - test-charts/headless-service/defaults
                - test-charts/headless-service/az-balancing
                - test-charts/headless-service/envvars
                - test-charts/headless-service/advanced-scaling
                - test-charts/headless-service/image-override
                - test-charts/headless-service/node-selector
                - test-charts/headless-service/resources
                - test-charts/headless-service/resource-limits
                - test-charts/headless-service/secrets
                - test-charts/headless-service/with-probes
                - test-charts/headless-service/with-external-config-map
                - test-charts/headless-service/with-ephemeral-volume
                - test-charts/headless-service/with-persistent-volume
                - test-charts/headless-service/reloader
                - test-charts/job/defaults
                - test-charts/job/envvars
                - test-charts/job/image-override
                - test-charts/job/resources
                - test-charts/job/resource-limits
                - test-charts/job/secrets
                - test-charts/job/single-resource-request
                - test-charts/job/with-config-files
                - test-charts/job/with-external-config-map
                - test-charts/job/with-ephemeral-volume
                - test-charts/job/with-persistent-volume
                - test-charts/cron-job/defaults
                - test-charts/cron-job/envvars
                - test-charts/cron-job/image-override
                - test-charts/cron-job/resources
                - test-charts/cron-job/resource-limits
                - test-charts/cron-job/secrets
                - test-charts/cron-job/single-resource-request
                - test-charts/cron-job/with-config-files
                - test-charts/cron-job/with-external-config-map
                - test-charts/cron-job/with-ephemeral-volume
                - test-charts/cron-job/with-persistent-volume
                - test-charts/cron-job/with-s3-volume
                - test-charts/triggered-job/defaults
                - test-charts/triggered-job/envvars
                - test-charts/triggered-job/history-limits
                - test-charts/triggered-job/ignore-in-flight
                - test-charts/triggered-job/image-override
                - test-charts/triggered-job/resources
                - test-charts/triggered-job/resource-limits
                - test-charts/triggered-job/secrets
                - test-charts/triggered-job/single-resource-request
                - test-charts/triggered-job/with-config-files
                - test-charts/triggered-job/with-external-config-map
                - test-charts/triggered-job/with-ephemeral-volume
                - test-charts/triggered-job/with-persistent-volume
                - test-charts/triggered-job/with-linkerd-mem
                - test-charts/test-runner/defaults
                - test-charts/test-runner/resources
                - test-charts/test-runner/envvars
                - test-charts/test-runner/image-override
                - test-charts/test-runner/secrets
                - test-charts/test-runner/with-external-config-map
                - test-charts/connect/defaults
                - test-charts/connect/connectors
                - test-charts/connect/connectors-with-common-config
                - test-charts/connect/connectors-with-overrides
                - test-charts/connect/connectors-with-templating
                - test-charts/connect/ingress
          name: <<matrix.chart>>
          business: ktech
          environment: test
          namespace: lab
          values: ./<<matrix.chart>>/values.yaml
          values-to-override: "global.image.tag=sha-${CIRCLE_SHA1}"
          dry-run: true
          image-tag: dummy-tag
          context:
            - aws-base
            - bandstand-ktech-test
